%h1
  = "#{@orders.count} Orders Total"

- if @orders.any?
  %h2
    = @orders.where("created_at >= ?", Time.zone.now.beginning_of_day).count
    Orders Today
  - @orders.each do |order|
    %p
      = l order.created_at
      %br
      = order.customer.email
    %br
- else
  Oops, doesn't look like there are any orders.
